*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1340px;
    flex-grow: 1;
    padding: 0 20px;
    margin: 0 auto;
}
.wrapper{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}
:root{
    --primary-color: #F5DF4E;
}